body {
    background: url("http://xoo.me/template/17168/p18m2vkok91cn39ru6kvei2q3e5-thumb.jpg");
}
.container {
    background: rgba(255,255,255,0.8);
    margin: 50px;
    padding: 40px;
}

section {
    margin: 30px;
}